* text=auto
*.gd text eol=lf
*.gdshader text eol=lf
*.py text eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.png binary
*.jpg binary
*.wav binary
*.ogg binary
*.glb binary
*.res binary
